<div class="unit span-grid">
  <ul>
    <li>Create a <a href="<%= url_for(:new_character) %>">new character</a>.</li>
    <% @chars.each do |c| %>
      <li><a href="<%= url_for(:view_character, :id => c.id) %>"><%= c.name || c.id.to_words %></a> - last modified <%=ago c.last_modified %></li>
    <% end %>
  </ul>
</div>
