<!-- Left Side Editing Block -->
<div class="page_left">

  <!-- Form Block -->
  <div id="form" class="page_form">


      <div class="form_section">
        <input type="text" class="form_input_text" name="0_0_0"><div class="form_lable ">Name:</div>
        <input type="text" class="form_input_text" name="0_0_1"><div class="form_lable ">Level:</div>
        <input type="text" class="form_input_text" name="0_0_2"><div class="form_lable ">Race:</div>
        <input type="text" class="form_input_text" name="0_0_3"><div class="form_lable ">Class:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Attributes
        </div>

        <input type="text" class="form_input_text form_input_text_half" name="1_0_1"><input type="text" class="form_input_text form_input_text_half" name="1_0_0" ><div class="form_lable ">Strength:</div>

        <input type="text" class="form_input_text form_input_text_half" name="1_1_1"><input type="text" class="form_input_text form_input_text_half" name="1_1_0" ><div class="form_lable ">Constitution:</div>

        <input type="text" class="form_input_text form_input_text_half" name="1_2_1"><input type="text" class="form_input_text form_input_text_half" name="1_2_0" ><div class="form_lable ">Dexterity:</div>

        <input type="text" class="form_input_text form_input_text_half" name="1_3_1"><input type="text" class="form_input_text form_input_text_half" name="1_3_0" ><div class="form_lable ">Intelligence:</div>

        <input type="text" class="form_input_text form_input_text_half" name="1_4_1"><input type="text" class="form_input_text form_input_text_half" name="1_4_0" ><div class="form_lable ">Wisdom:</div>

        <input type="text" class="form_input_text form_input_text_half" name="1_5_1"><input type="text" class="form_input_text form_input_text_half" name="1_5_0" ><div class="form_lable ">Charisma:</div>

      </div>

      <div class="form_section">
        <div class="form_section_head">
          Hit Points
        </div>

        <input type="text" class="form_input_text" name="2_0_0"><div class="form_lable ">Total HP:</div>
        <input type="text" class="form_input_text" name="2_0_1"><div class="form_lable ">Bloodied HP:</div>
        <input type="text" class="form_input_text" name="2_0_2"><div class="form_lable ">Surges:</div>
        <input type="text" class="form_input_text" name="2_0_3"><div class="form_lable ">Surge Value:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Save Modifiers
        </div>

        <span style="position:relative;">
          <a name="3_0_delete" class="form_delete">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="3_0_0">
          <div class="form_lable ">Save Modifier:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="3_add">Add Save Modifier</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Initiative
        </div>

        <input type="text" class="form_input_text" name="4_0_0" onkeyup="updateField(this);"><div class="form_lable ">Initiative:</div>
        <textarea type="text" class="form_input_area" name="4_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Movement
        </div>

        <input type="text" class="form_input_text" name="5_0_0" onkeyup="updateField(this);"><div class="form_lable ">Speed:</div>
        <textarea type="text" class="form_input_area" name="5_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Skills
        </div>

        <input type="text" class="form_input_text" name="6_0_0" onkeyup="updateField(this);"><div class="form_lable ">Acrobatics:</div>
        <input type="text" class="form_input_text" name="6_0_1" onkeyup="updateField(this);"><div class="form_lable ">Arcana:</div>
        <input type="text" class="form_input_text" name="6_0_2" onkeyup="updateField(this);"><div class="form_lable ">Athletics:</div>
        <input type="text" class="form_input_text" name="6_0_3" onkeyup="updateField(this);"><div class="form_lable ">Bluff:</div>
        <input type="text" class="form_input_text" name="6_0_4" onkeyup="updateField(this);"><div class="form_lable ">Diplomacy:</div>
        <input type="text" class="form_input_text" name="6_0_5" onkeyup="updateField(this);"><div class="form_lable ">Dungeoneering:</div>
        <input type="text" class="form_input_text" name="6_0_6" onkeyup="updateField(this);"><div class="form_lable ">Endurance:</div>
        <input type="text" class="form_input_text" name="6_0_7" onkeyup="updateField(this);"><div class="form_lable ">Heal:</div>
        <input type="text" class="form_input_text" name="6_0_8" onkeyup="updateField(this);"><div class="form_lable ">History:</div>
        <input type="text" class="form_input_text" name="6_0_9" onkeyup="updateField(this);"><div class="form_lable ">Insight:</div>
        <input type="text" class="form_input_text" name="6_0_10" onkeyup="updateField(this);"><div class="form_lable ">Intimidate:</div>
        <input type="text" class="form_input_text" name="6_0_11" onkeyup="updateField(this);"><div class="form_lable ">Nature:</div>
        <input type="text" class="form_input_text" name="6_0_12" onkeyup="updateField(this);"><div class="form_lable ">Perception:</div>
        <input type="text" class="form_input_text" name="6_0_13" onkeyup="updateField(this);"><div class="form_lable ">Religion:</div>
        <input type="text" class="form_input_text" name="6_0_14" onkeyup="updateField(this);"><div class="form_lable ">Stealth:</div>
        <input type="text" class="form_input_text" name="6_0_15" onkeyup="updateField(this);"><div class="form_lable ">Streetwise:</div>
        <input type="text" class="form_input_text" name="6_0_16" onkeyup="updateField(this);"><div class="form_lable ">Thievery:</div>
      </div>

      <div style="height:5px;"></div>

      <div class="form_section">
        <div class="form_section_head">
          Armor Class
        </div>

        <input type="text" class="form_input_text" name="8_0_0" onkeyup="updateField(this);"><div class="form_lable ">Armor Class:</div>
        <textarea type="text" class="form_input_area" name="8_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Fortitude
        </div>

        <input type="text" class="form_input_text" name="9_0_0" onkeyup="updateField(this);"><div class="form_lable ">Fortitude:</div>
        <textarea type="text" class="form_input_area" name="9_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Reflex
        </div>

        <input type="text" class="form_input_text" name="10_0_0" onkeyup="updateField(this);"><div class="form_lable ">Reflex:</div>
        <textarea type="text" class="form_input_area" name="10_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Will
        </div>

        <input type="text" class="form_input_text" name="11_0_0" onkeyup="updateField(this);"><div class="form_lable ">Will:</div>
        <textarea type="text" class="form_input_area" name="11_0_1" onkeyup="updateField(lineBreaker(this));"></textarea><div class="form_lable  form_lable_multiline">Modifiers:</div>
      </div>

      <div class="form_section">
        <div class="form_section_head">
          Race Features
        </div>

        <span style="position:relative;">
          <a name="12_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="12_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Race Feature Name:</div>
          <textarea type="text" class="form_input_area" name="12_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="12_add">Add Racial Feature</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Class Features
        </div>

        <span style="position:relative;">
          <a name="13_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="13_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Class Feature Name:</div>
          <textarea type="text" class="form_input_area" name="13_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="13_add">Add Class Feature</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Feats
        </div>

        <span style="position:relative;">
          <a name="14_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="14_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Feat Name:</div>
          <textarea type="text" class="form_input_area" name="14_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="14_add">Add Feat</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Backgrounds
        </div>

        <span style="position:relative;">
          <a name="15_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="15_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Background Name:</div>
          <textarea type="text" class="form_input_area" name="15_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="15_add">Add Background</a><br>

      <div style="height:5px;"></div>

      <div class="form_section">
        <div class="form_section_head">
          At-Will Powers
        </div>

        <span style="position:relative;">
          <a name="17_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="17_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Power Name:</div>
          <textarea type="text" class="form_input_area" name="17_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="17_add">Add At-Will Power</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Encounter Powers
        </div>

        <span style="position:relative;">
          <a name="18_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="18_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Power Name:</div>
          <textarea type="text" class="form_input_area" name="18_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="18_add">Add Encounter Power</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Daily Powers
        </div>

        <span style="position:relative;">
          <a name="19_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="19_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Power Name:</div>
          <textarea type="text" class="form_input_area" name="19_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="19_add">Add Daily Power</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Attacks
        </div>

        <span style="position:relative;">
          <a name="20_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="20_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Name:</div>
          <input type="text" class="form_input_text" name="20_0_1" onkeyup="updateField(this);"><div class="form_lable ">Attack Bonus:</div>
          <input type="text" class="form_input_text" name="20_0_2" onkeyup="updateField(this);"><div class="form_lable ">Target Defense:</div>
          <input type="text" class="form_input_text" name="20_0_3" onkeyup="updateField(this);"><div class="form_lable ">Damage:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="20_add">Add Attack</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Items
        </div>

        <span style="position:relative;">
          <a name="21_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="21_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Item Name:</div>
          <textarea type="text" class="form_input_area" name="21_0_1" onkeyup="updateField(lineBreaker(this));"></textarea>
          <div class="form_lable form_lable_multiline">Description:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="21_add">Add Item</a><br>

      <div class="form_section">
        <div class="form_section_head">
          Money
        </div>

        <input type="text" class="form_input_text" name="22_0_0" onkeyup="updateField(this);"><div class="form_lable ">Platinum:</div>
        <input type="text" class="form_input_text" name="22_0_1" onkeyup="updateField(this);"><div class="form_lable ">Gold:</div>
        <input type="text" class="form_input_text" name="22_0_2" onkeyup="updateField(this);"><div class="form_lable ">Silver:</div>
        <input type="text" class="form_input_text" name="22_0_3" onkeyup="updateField(this);"><div class="form_lable ">Copper:</div>

      </div>

      <div class="form_section">
        <div class="form_section_head">
          <a class="form_move" name="23_promote" onclick="promoteBlock(this);">&#9650;</a>
          <a class="form_move" name="23_demote" onclick="demoteBlock(this);">&#9660;</a>
          <a class="form_move" name="23_vis" onclick="toggleBlockVis(this);">Show</a>
          Familiar
        </div>

        <input type="text" class="form_input_text" name="23_0_0" onkeyup="updateField(this);"><div class="form_lable ">Name:</div>
        <input type="text" class="form_input_text" name="23_0_1" onkeyup="updateField(this);"><div class="form_lable ">Type:</div>
        <textarea type="text" class="form_input_area" name="23_0_2" onkeyup="updateField(lineBreaker(this));"></textarea>
        <div class="form_lable form_lable_multiline">Description:</div>
        <input type="text" class="form_input_text" name="23_0_3" onkeyup="updateField(this);"><div class="form_lable ">Senses:</div>
        <input type="text" class="form_input_text" name="23_0_4" onkeyup="updateField(this);"><div class="form_lable ">Speed:</div>
        <textarea type="text" class="form_input_area" name="23_0_5" onkeyup="updateField(lineBreaker(this));"></textarea>
        <div class="form_lable form_lable_multiline">Constant Benefits:</div>
        <textarea type="text" class="form_input_area" name="23_0_6" onkeyup="updateField(lineBreaker(this));"></textarea>
        <div class="form_lable form_lable_multiline">Active Benefits:</div>

      </div>

      <div class="form_section">
        <div class="form_section_head">
          <a class="form_move" name="24_promote" onclick="promoteBlock(this);">&#9650;</a>
          <a class="form_move" name="24_demote" onclick="demoteBlock(this);">&#9660;</a>
          <a class="form_move" name="24_vis" onclick="toggleBlockVis(this);">Show</a>
          Notes
        </div>

        <span style="position:relative;">
          <a name="24_0_delete" class="form_delete" onclick="deleteElement(this);">&#10008;</a>
          <input type="text" class="form_input_text form_input_text_short" name="24_0_0" onkeyup="updateField(this);">
          <div class="form_lable ">Note Text:</div>
        </span>

      </div><a class="form_add" onclick="addElement(this);" name="24_add">Add Note</a><br>

      <div style="height:5px;"></div>
  </div>
</div>
