<div class="unit one-of-three"></div>
<div class="unit one-of-three">
  <p>Enter your email to see your character sheets.</p>
  <% form_tag url_for(:login), :method => 'post', :class => 'pure-form' do %>
    <%= text_field_tag :email, :placeholder => 'email', :class => 'login' %>
    <%= submit_tag "Login!", :class => "pure-button pure-button-primary login" %>
  <% end %>
</div>
