<div class="unit two-of-three">
  <p>Welcome to DungeonTracker. This is currently a website for sharing Fourth Edition Dungeons &amp; Dragons Character Sheets.

  <p>This site is very much in beta and you should expect things to break. Feel free to file bugs on <a href="https://github.com/icco/dungeontracker">github</a> or message <a href="https://twitter.com/icco">@icco</a> on Twitter.

  <p><small>"Dungeons &amp; Dragons" is a trademark of Wizards of the Coast LLC.</small></p>
</div>
<div class="unit one-of-three">
  <p>Enter your email to see your character sheets.</p>
  <% form_tag url_for(:login), :method => 'post', :class => 'pure-form' do %>
    <%= text_field_tag :email, :placeholder => 'email', :class => 'login' %>
    <%= submit_tag "Login!", :class => "pure-button pure-button-primary login" %>
  <% end %>
</div>
